@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// ======= Just a glowing button and text ===
@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@media only screen and (max-width: 250px) {
  .glowing-btn{
    font-size: 1em;
  }
}

.glowing-btn {
  cursor: default;
  position: relative;
  color: var(--glow-color);
  padding: 0.35em 1em;
  border: 0.1em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 1.6em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
}

.glowing-txt {
  cursor: default;
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 6s linear infinite;
}


.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

// ======= Style of buttons for selection ===

.logo-main:hover .glowing-btn {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.logo-main:hover .glowing-txt {
  animation: none;
}

.logo-main:hover .glowing-btn:before{
  filter: blur(1.5em);
  opacity: 1;
}

.logo-main:hover .glowing-btn:after {
  opacity: 1;
}


// ============= this is a greyscale effect for pictures
.img-glow1 {
    cursor: pointer;
    -webkit-filter: brightness(80%);
    transition: 0.7s
}

.img-glow1:hover {
	-webkit-filter: brightness(110%);
	transition: 0.7s
}

.img-glow2 {
    cursor: pointer;
    -webkit-filter: brightness(80%);
    transition: 0.7s
}

.img-glow2:hover {
	-webkit-filter: brightness(110%);
	transition: 0.7s
}

.img-glow3 {
    cursor: pointer;
    -webkit-filter: brightness(95%);
    transition: 0.7s
}

.img-glow3:hover {
	-webkit-filter: brightness(110%);
	transition: 0.7s
}
